doctype html
html
	head
		title DEV admin dashboard - TRIPS
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1')
		style(type='text/css').
			#trips {
				border: 1px solid;
				& td, & th {
					border: 1px solid;
			}
	body
		header
			h1 Trips
			h2 Saved trips in DB (#{trips.length})
			table#trips
				thead
					tr 
						th Origin
						th Departure time
						th Destination
						th Arrival time
						th Edit
						th Delete
				each trip in trips 
					tr
						td #{stations.find(s => s.id === trip.departure_station_id).name} 
						td= trip.departure_time.toUTCString()
						td #{stations.find(s => s.id === trip.arrival_station_id).name} 
						td= trip.arrival_time.toUTCString()
						td
							button(onclick="alert('Not yet available'))") Edit
						td
							button(onclick="alert('Not yet available'))") Delete

			h2 Add a trip
			form(action='/api/admin/trips/new', method='POST')
				table
					thead 
						tr 
							th Origin
							th Destination
							th Departure time
							th Arrival time
							th Send 
					tr
						td
							select(name='origin')
								each station of stations 
									option(value=station.id)= station.name 
						td
							select(name='destination')
								each station of stations 
									option(value=station.id)= station.name 
						td
							input(type='datetime-local', name='departure')
						td
							input(type='datetime-local', name='arrival')
						td
							input(type='submit')
			h2 Stations
			table
				thead
					tr
						th Station name
						th Station id
				tbody
				each station of stations
					tr
						td= station.name
						td= station.id